.App {
  text-align: center;
  padding-top: 20px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selectDiv{
  float:left;
  width:40%
}
.toggleDiv{
  float: left
}
.priceSlider{
  position: absolute;
    right: 90px;
    top: 2px;
    width: 30%;
}
@media only screen and (max-width: 418px) {
  .selectDiv {
    width:100%
  }
}
@media only screen and (max-width: 1044px) {
  .priceSlider{
      right: -5%;
  }
}
@media only screen and (max-width: 418px) {
  .priceSlider{
    position: unset;
      right: 0px;
      top: 0px;
      width: 100%;
  }
}
